@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
    --branco: #f1faeeff;
    --verde: #a8dadcff;
    --azul-claro: #457b9dff;
    --azul-forte: #1d3557ff;
    --titulo: "Bebas Neue", sans-serif;
    --texto: "PT Serif", serif;
}
body{
    background-color: var(--azul-forte);
    font-family:var(texto);
}